APP_NAME=Edupets
APP_ENV=development
SECRET_KEY=4e5uQOgyw3fc1HxH27zWt9RBw9eZxAk45CDB+qpeVWiwgHwtUJSOvUOPtk7sLgYi
COOKIE_SECURE=false

DATABASE_URL=postgresql://neondb_owner:npg_qm9uc5aAQDwt@ep-hidden-dawn-aywobj88-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
                                    